<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aliquam veritatis id, doloribus aut repellat distinctio minima nihil at consequatur, tempore necessitatibus deleniti, ab tenetur? Iste perspiciatis cupiditate velit vel!
    </div>
    <div class="container2"></div>

</body>
</html>